.form {
    $f: &;
    

    @include media-breakpoint-up(md) {
        &--inline {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;

            .form__input {
                flex: 1;
            }
        }
    }

    &__row {
		margin-bottom: $gutter * 1.5;
		position: relative;


		@include media-breakpoint-up(lg) {
			margin-bottom: $gutter * 2;
		}

		&:last-child {
			margin-bottom: 0;
		}


        @include media-breakpoint-up(md) {
            #{$f}--inline & {
                margin-bottom: 0;
                flex: 1;
            }

            &--submit {
                #{$f}--inline & {
                    flex: 0;
                }
            }
        }
    }

    &__input-wrap {
		position: relative;
		background: color('white');

		&--select {
			&::after {
				position: absolute;
				width: 12px;
				height: 12px;
				top: 50%;
				right: 20px;
				transform: translate3d(0, -75%, 0) rotate(45deg);
				border-bottom: 1px solid $black;
				border-right: 1px solid $black;
				z-index: 1;
				content: '';
			}
		}

        @each $name, $value in $colors {
            #{$f}--#{$name} & {
                background: color($name);
            }
        }
	}
    
    &__input {
		height: 40px;
		padding: 0 ($gutter);
		border: none;
		display: block;
		position: relative;
		width: 100%;
		-webkit-appearance: none;
		z-index: 2;
		-webkit-border-radius: 0px;
		background: none;
		@include font-family('body');
        @include resp-font-size(16, 16, 18);

		@include media-breakpoint-up(lg) {
			height: 50px;
		}

		&--select {
			padding: 0 ($gutter * 1.5) 0 ($gutter * .33);
		}

		&--textarea {
			padding-top: ($gutter * .75); 
			padding-bottom: ($gutter * .75); 
			min-height: 120px;
			display: block;
			width: 100%;
		}
    }
    
	&__label {
        margin-bottom: $gutter * .5;
        font-weight: 600;
		display: block;
        @include resp-font-size(16, 16, 18);
        line-height: 1.4;

		&--option {
            margin-bottom: 0;
            font-weight: 400;
            @include resp-font-size(14, 14, 16);
		}

		&--hidden {
            height: 0;
            width: 0;
            text-indent: -999999px;
		}
    }
    

	&__option {
		padding: 0;
		appearance: none;
		width: 20px;
		height: 20px;
        background: $white;
        margin: 0 $gutter 0 0;
		position: relative;

		@include media-breakpoint-up(md) {
			height: 24px;
			width: 24px;
        }
        
        @each $name, $value in $colors {
            #{$f}--#{$name} & {
                background: color($name);

                &::after {
                    background: color('primary');
                }
            }
        }

		&::after {
			width: 0;
			height: 0;
			transition: width .18s ease-in-out, height .18s ease-in-out;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			content: '';
			background: color('primary');
		}

		&--radio {
			border-radius: 50%;

			&::after {
				border-radius: 50%;
			}
		}

		&:checked {
			&::after {
				width: 12px;
				height: 12px;
			}
		}
	}

	&-option-wrap {
		align-items: center;
        display: flex;
        margin-bottom: $gutter;
        
        &:last-child {
            margin-bottom: 0;
        }
	}
}