.hamburger {
    $h: &;

    @apply absolute block z-50 right-0 mr-4 h-8 w-8;
    top: 50%;
    transform: translate3d(0,-50%,0);
    cursor: pointer;

    &__bar {
        @apply absolute w-5 bg-gray-800;
        height: 2px;
        left: 50%;
        transition: width .2s ease-in-out .25s, transform .2s ease-in-out .25s, top .2s ease-in-out .25s;
        transform: translate3d(-50%, -50%, 0) rotate(0deg);

        &:nth-child(1) {
            top: 33.3333%;

            [data-hamburger=open] & {
                top: 50%;
                transform: translate3d(-50%, -50%, 0) rotate(45deg);
            }
        }

        &:nth-child(2) {
            top: 50%;

            [data-hamburger=open] & {
                @apply w-0;
            }
        }

        &:nth-child(3) {
            top: 66.6666%;

            [data-hamburger=open] & {
                top: 50%;
                transform: translate3d(-50%, -50%, 0) rotate(-45deg);
            }
        }

        // [data-hamburger=open] & {
        //     @apply w-0;
        //     transition-delay: .0s;
        // }
    }

    // No js close symbol animation
    [open] & {
        .no-js & {
            &__bar {

                &:nth-child(1) {
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0) rotate(45deg);
                }

                &:nth-child(2) {
                    @apply w-0;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
                }
            }
        }
    }
}