.menu {
    @apply fixed right-0 top-0 z-40 p-4 pt-12;

    @screen sm {
        @apply max-w-xs;
    }

    &--main {
        @apply w-screen h-screen bg-white;

        .no-js &  {
            &:before {
                @apply block top-0 absolute h-screen w-screen bg-black;
                content: '';
                right: 100%;
                opacity: .4;
                transition: opacity .2s ease-in-out;
            }
        }
        
        @screen md {
            // @apply w-1/2;
        }
        @screen lg {
            // @apply w-1/3;
        }
    }

    &--child {
        @apply h-full w-full bg-gray-300 p-4 pt-12;

        .no-js & {
            @apply relative h-auto w-auto bg-transparent p-0 pl-4 pb-4;
        }
    }
}