.row {
    $r: &;
    position: relative;

    > * {
        position: relative;
        z-index: 1;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: 0;
    }
    
    @apply py-6;

    @screen md {
        @apply py-16;
    }
    @screen lg {
        @apply py-20;
    }
    @screen xl {
        @apply py-24;
    }
    @screen 2xl {
        @apply py-32;
    }
    
    &--white {
        @apply bg-white;

        + #{$r}--white {
            padding-top: 0;
        }
    }
    
    &--gray {
        @apply bg-gray-200;

        + #{$r}--gray {
            padding-top: 0;
        }
    }
    
    &--transparent {
        &:before {
            background: transparent;
        }

        + #{$r}--transparent {
            padding-top: 0;
        }
    }
}