.row {
    $r: &;
    
    @apply py-6;

    @screen md {
        @apply py-12;
    }
    @screen lg {
        @apply py-16;
    }
    @screen xl {
        @apply py-20;
    }

    &--nopad {
		@apply p-0;
	}

    @each $name, $value in $colors {
        &--#{$name} {
			background: color($name);
			color: set-text-color($value);
			
			+ #{$r}--#{$name} {
				padding-top: 0;
			}
        }
	}
}