<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="ie">    <![endif]-->
<!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->

<head>
    {# Meta #}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

    {# Include SEO markup -- uncomment for static sites #}
    {# {% include '_layout/seo.njk' %} #}

    {# Include favicons links #}
    {% include '_layout/favicons.njk' %}

    {# Styles #}
    <link rel="stylesheet" href="/assets/styles/styles.css">

</head>

<body>
    <div class="overlay-mask" data-overlay-mask=""></div>
    
    <a href="#main" class="skip-main btn btn--lrg btn--primary">Skip to main content</a>

    <div class="site">
        {% include '_layout/header.njk' %}
        <div data-router-wrapper>
            <div class="site-wrap" data-router-view="{% block title %}{% endblock %}" id="main">
                {% block content %}{% endblock %}
                {% include '_layout/footer.njk' %}
            </div>
        </div>
    </div>

    {# Javascript #}
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/scripts/vendor/jQuery.3.3.1.min.js">\x3C/script>')</script>

    <script src="/assets/scripts/bundle.js"></script>
</body>
</html>