{% import '_macros/macros.njk' as macro %}

<footer class="row footer">
    <div class="container">
        <div class="mb-6">
            {{ macro.social(siteDetails.socialAccounts) }}
        </div>
        <div class="w-content">
            <p>{{ now.year }} &copy; Project here.  <a href="https://jaycollett.co" {{ macro.external(true) }}>Site Credits</a></p>
        </div>
    </div>
</footer>