<footer class="row row--white relative overflow-hidden">
    <div class="container lg:relative">
    <div class="circle circle--footer bg-blue-200"></div>
                
        <div class="flex relative z-10">
            <div class="w-full md:w-8/12 lg:w-6/12 md:ml-auto lg:mr-1/12 w-content text-base">
                <p class="text-gray-700 font-bold">Being Seen is a lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p><a href="#" aria-label="Email Being Seen">hello@being-seen.com</a></p>
                <p>&copy; Being Seen 2019. <a href="#" aria-label="Link to the website designer">Site Credits</a></p>
            </div>
        </div>

    </div>
</footer>