<header class="header">
    <div class="wrapper header__wrapper u-rel">
        <div class="header__inner">
            <div class="header__item header__item--left z-headerlogo">
                <a href="/" class="header__logo">
                    <img src="//placehold.it/200x60" alt="JayPack" height="" width="">
                </a>
            </div>
            <div class="header__item header__item--right z-hamburger">
                <button class="hamburger" data-hamburger>
                    Open menu
                    <span class="hamburger__bar"></span>
                    <span class="hamburger__bar"></span>
                    <span class="hamburger__bar"></span>
                </button>
            </div>
            {% include '_layout/menu.njk' %}
        </div>
    </div>
</header>