<header class="header">
    <div class="wrapper header__wrapper">
        <div class="header__inner">
            <div class="header__item header__item--menu">
                <button class="r-button hamburger">
                </button>
            </div>
            <div class="header__item header__item--logo">
                <a href="/" class="header__logo">
                    <img src="//placehold.it/200x60" alt="JayPack" height="" width="">
                </a>
            </div>
        </div>
    </div>
</header>