<div class="menu" data-menu="main">
    <nav class="menu__list menu__list--top">

        <li class="menu__item menu__item--top" data-parent="about">
            <a href="#" class="menu__link menu__link--top" data-menu-link>About</a>

            {# Children #}
            <button class="menu__more menu__more--top" data-more="about">View more</button>

            <div class="submenu" data-menu="about">

                {# Back button for mobile #}
                <button class="menu__link menu__link--back" aria-label="Back" data-back='about'>About</button>

                <ul class="menu__list menu__list--sub">

                    <li class="menu__item menu__item--sub" data-parent="team">
                        <a href="#" class="menu__link menu__link--sub menu__link--title" data-menu-link>
                            Team
                        </a>
                        
                        {# Children #}
                        <button class="menu__more menu__more--top" data-more="team">View more</button>
                        
                        <div class="submenu" data-menu="team">

                            {# Back button for mobile #}
                            <button class="menu__link menu__link--back" aria-label="Back" data-back="team">Team</button>

                            <ul class="menu__list menu__list--sub">

                                <li class="menu__item menu__item--sub">
                                    <a href="#" class="menu__link menu__link--sub menu__link--title" data-menu-link>
                                        Person 1
                                    </a>
                                </li>

                                <li class="menu__item menu__item--sub">
                                    <a href="#" class="menu__link menu__link--sub menu__link--title" data-menu-link>
                                        Person 2
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        {# End children #}
                    </li>
                    
                </ul>
            </div>
            {# End children #}
        </li>

    </nav>
</div>