<div class="menu" data-menu>
    <nav class="menu__list menu__list--top">

        {% set parent = 'item1' %}

        <li class="menu__item menu__item--top" data-parent="item1">
            <a href="#" class="menu__link menu__link--top" data-menu-link>Item</a>

            {# Children #}
            <button class="menu__more menu__more--top" data-more>+</button>
            <div class="submenu" data-level="2" data-submenu="item1">

                {# Back button for mobile #}
                <button class="menu__link menu__link--back" aria-label="Back" data-back>Back</button>

                <ul class="menu__list menu__list--sub">

                    <li class="menu__item menu__item--sub" data-parent="item2">
                        <a href="#" class="menu__link menu__link--sub menu__link--title" data-menu-link>
                            Item child
                        </a>
                        
                        {# Children #}
                        <button class="menu__more menu__more--top" data-more>+</button>
                        <div class="submenu" data-level="3" data-submenu="item2">

                            {# Back button for mobile #}
                            <button class="menu__link menu__link--back" aria-label="Back" data-back>Back</button>

                            <ul class="menu__list menu__list--sub">

                                <li class="menu__item menu__item--sub">
                                    <a href="#" class="menu__link menu__link--sub menu__link--title" data-menu-link>
                                        Item child
                                    </a>

                                    {# More children here if needed #}
                                </li>
                                
                            </ul>
                        </div>
                        {# End children #}
                    </li>
                    
                </ul>
            </div>
            {# End children #}
        </li>

    </nav>
</div>