<title>{{ site.title }} - {{ seo.title }}</title>
<meta name="description" content="{{ seo.description }}">
<link rel="canonical" href="{{ seo.canonical }}" />

{# Facebook OG #}
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_GB" />
<meta property="og:description" content="{{ seo.description }}" />
<meta property="og:image" content="{{ site.canonical }}/assets/images/og-graphic.jpg" />
<meta property="og:url" content="{{ site.canonical }}" />
<meta property="og:site_name" content="{{ seo.title }}" />

{# Twitter card#}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ seo.description }}">
<meta name="twitter:image" content="{{ site.canonical }}/assets/images/og-graphic.jpg">
<meta name="twitter:site" content="@{{ seo.twitter }}">