<div class="form__row">
    <p class="form__label">Checkbox</p>
    <label class="form-option-wrap">
        <div class="form-option-wrap__input">
            <input class="form__option form__option--checkbox"type="checkbox" name="rememberMe" value="1">
        </div>
        <span class="form__label form__label--option">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non est fugit tempore, amet fugiat officia architecto</span>
    </label>
</div>