<div class="form__row">
    <label class="form__label" for="textField">Label</label>
    <div class="form__input-wrap">
        <input class="form__input" id="textField" type="text" name="textField" value="">
    </div>
</div>