<div class="form__row">
    <p class="form__label">Radio options</p>
    <label class="form-option-wrap">
        <input class="form__option form__option--radio" type="radio" name="rememberMe" value="1">
        <span class="form__label form__label--option">Option here</span>
    </label>
    <label class="form-option-wrap">
        <input class="form__option form__option--radio" type="radio" name="rememberMe" value="1">
        <span class="form__label form__label--option">Another option here</span>
    </label>
    <label class="form-option-wrap">
        <input class="form__option form__option--radio" type="radio" name="rememberMe" value="1">
        <span class="form__label form__label--option">Lorem, ipsum dolor sit amet consectetur</span>
    </label>
</div>