<div class="form__row">
    <label class="form__label" for="textArea">Label</label>
    <div class="form__input-wrap">
        <textarea class="form__input form__input--textarea" id="textArea" type="text" name="textArea" value=""></textarea>
    </div>
</div>