.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid color('grey');
    z-index: z('header');
    background: color('white');

    &__wrapper,
    &__inner {
        height: 100%;
    }

    @include media-breakpoint-up(lg) {
        height: 100px;
    }

    &__item {
        position: absolute;
        top: 50%;

        &--left {
            left: $gutter;
            transform: translate3d(0, -50%, 0);
            z-index: z('header-logo');

            @include media-breakpoint-up(sm) {
                left: $gutter * 2;
            }

            @include media-breakpoint-up(xl) {
                left: 0;
            }
        }

        &--right {
            right: $gutter;
            transform: translate3d(0, -50%, 0);
            z-index: z('hamburger');
            
            @include media-breakpoint-up(sm) {
                right: $gutter * 2;
            }

            @include media-breakpoint-up(xl) {
                right: 0;
            }
        }

        &--middle {
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    &__logo {
        height: 40px;
        display: block;

        @include media-breakpoint-up(md) {
            height: 45px;
        }

        @include media-breakpoint-up(lg) {
            height: 70px;
        }

        img {
            height: 100%;
            width: auto;
        }

    }
}