{% extends "components/_index.njk" %}

{% set items = accordions.items|default(null) %}
{% set title = accordions.title|default(null) %}
{% set slimContainer = true %}
{% set accordionHeadingLevel = 'h2' %}

{% block component %}
    {% if title %}
        <h2 class="title-3 mb-4 lg:mb-6">{{ title }}</h2>
        {% set accordionHeadingLevel = 'h3' %}
    {% endif %}
    <ul class="accordion-wrap" data-accordion-wrap>

        {% for item in items %}
            {% set contentElements = item.contentElements %}
            <li class="accordion" data-accordion>
                <div class="accordion__title" id="{{ accordions.id }}-{{ loop.index }}" data-accordion-title aria-expanded="false" aria-controls="{{ accordions.id }}-{{ loop.index }}">
                    <{{ accordionHeadingLevel }} class="title-5">{{ item.title }}<{{ accordionHeadingLevel }}>
                </div>
                <div class="accordion__body" aria-labelledby="{{ accordions.id }}-{{ loop.index }}"  data-accordion-body id="{{ accordions.id }}-{{ loop.index }}">
                    <div class="pt-4 px-5 pb-10">
                        {% include 'elements/w-content.njk' %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}