{% import '_macros/macros.njk' as macro %}

{# Content #}
{% set title = button.title|default("Read more") %}
{% set action = button.action|default(null) %}

{# Options #}
{% set type = button.type|default('link') %}
{% set target = button.target|default(false) %}
{% set full = button.full|default(false) %}
{% set classes = button.classes|default('bg-orange-500 hover:bg-orange-600 text-white') %}

{# Append the download attribute to the link type #}
{% if type == 'link' or type == 'download' %}
    {% set download = true %}
    {% set type = 'link' %}
{% endif %}

{# Add the full class if required #}
{% if full %}
    {% set classes = classes + ' btn--full' %}
{% endif %}

{% switch type %}
	{% case 'button' %}
        <button {{ action }} class="btn {{ classes }}">{{ title }}</button>
    {% case 'link' %}
        <a href="{{ action }}" {{ macro.external(target) }} class="btn {{ classes }}" {% if download %}download{% endif %}>{{ title }}</a>
{% endswitch %}