{% set design = buttons.design|default('inline') %}
{% set buttons = buttons.buttons %}

<div class="btn-list btn-list--{{ design }}">
    {% for button in buttons %}
        <div class="">
            {% include 'elements/button.njk' %}
        </div>
    {% endfor %}
</div>