{% import '_macros/macros.njk' as macro %}

{# Content #}
{% set label = button.label|default("Read more") %}
{% set action = button.action|default(null) %}

{# Options #}
{% set type = button.type|default('link') %}
{% set target = button.target|default(false) %}
{% set full = button.full|default(false) %}
{% set classes = button.classes|default('bg-orange-500 hover:bg-orange-600 text-white') %}
{% set download = false %}

{% if type == 'download' %}
    {% set download = true %}
    {% set type = 'link' %}
{% endif %}

{% switch type %}
	{% case 'button' %}
        <button {{ action }} class="btn {{ classes }}{% if full %} btn--full{% endif %}">{{ label }}</button>
    {% case 'link' %}
        <a href="{{ action }}" {{ macro.external(target) }} class="btn {{ classes }}{% if full %} btn--full{% endif %}" {% if download %}download{% endif %}>{{ label }}</a>
{% endswitch %}