<svg role="img" aria-hidden="true" class="icon icon--{{ icon.symbol }} icon--{{ icon.size }}">
    <use xlink:href="#{{ icon.symbol }}"></use>
</svg>

{#
    {% set icon = {
        symbol: 'arrow-right',
        size: 'lg'
    } %}
    {% include 'elements/icon.njk' %}
#}