.header {
    @apply h-16 w-full;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    transition: height .2s ease-in-out;

    @screen lg {
        @apply h-24;

        &.is-scrolled {
            @apply h-16;
        }
    }

    &.is-scrolled {
        &:before {
            opacity: 1;
        }
    }

    &:before {
        @apply bg-white shadow;
        transition: opacity .2s ease-in-out;
        content: '';
        position: absolute;
        z-index: 1;
        width: calc(100% + 4rem);
        height: 100%;
        top: 0;
        opacity: 0;
        left: 0;
        transform: translateX(-2rem);
    }

    &__inner {
        position: relative;
        z-index: 2;
        height: 100%;
    }

    &__grid {
        height: 100%;
        align-items: center;
    }
}
