.header {
    @apply h-16 w-full fixed top-0 left-0;
    z-index: 900;
    transition: height .2s ease-in-out, color .2s ease-in-out;

    @screen lg {
        @apply h-32;

        &.is-scrolled {
            @apply h-24;
        }
    }

    &.is-scrolled {
        &:before {
            @apply opacity-100;
        }
    }

    &:before {
        @apply bg-white shadow absolute h-full top-0 left-0 opacity-0;
        transition: opacity .2s ease-in-out;
        content: '';
        z-index: 1;
        width: calc(100% + 4rem);
        transform: translateX(-2rem);
    }

    &__inner {
        @apply relative h-full;
        z-index: 2;
    }

    &__grid {
        @apply items-center h-full;
    }

    &__logo {
        @apply italic;
    }
}