.row {
    $r: &;
    position: relative;

    > * {
        position: relative;
        z-index: 1;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: 0;
    }
    
    @apply py-6;

    @screen md {
        @apply py-16;
    }

    @screen lg {
        @apply py-20;
    }

    @screen xl {
        @apply py-24;
    }

    @screen 2xl {
        @apply py-32;
    }

    // Add space for header
    &:first-of-type {
        // @apply pt-0;
        
        > * {
            @apply pt-16;

            @screen xl {
                @apply pt-24;
            }
        }
    }
}