.row {
    $r: &;
    position: relative;

    > * {
        position: relative;
        z-index: 1;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: 0;
    }
    
    @apply py-6;

    @screen sm {
        @apply py-16;
    }
    @screen md {
        @apply py-20;
    }
    @screen lg {
        @apply py-24;
    }
    @screen xl {
        @apply py-32;
    }

    // Add space for header
    &:first-child {
        > * {
            margin-top: 4rem;

            @screen md {
                margin-top: 6rem;
            }
        
            @screen lg {
                margin-top: 8rem;
            }
        
            @screen xl {
                margin-top: 10rem;
            }
        }
    }


    // @debug index($lightColors, 'cheese');

    // @if in_list(cheese, $lightColors) {
    //     background:red;
    // } @else {
    //     @error "$val argument must exist in #{$list}; was '#{$val}'";
    // }

    @each $name, $hex in $colors {
        &--#{$name} {
            @include text-color($name);
            
            &:before {
                background-color: $hex;
            }

            + .row--#{$name} {
                padding-top: 0;
            }
        }
    }
}