.submenu {
    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: color('grey');
        height: 100%;
        z-index: 3;
        padding: ($gutter * 6) ($gutter * 2) ($gutter * 2);
        
        // Transition
        display: none;
        transform: translate3d(110%,0,0);
        transition: transform .6s cubic-bezier(1,0,0,1); 

        &.is-active {
            display: block;
        }

        &.is-visible {
            transform: translate3d(0,0,0);
        }

        &__skip {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {

        &[data-level="2"] {
            padding: $gutter * 2;
            min-height: 30vh;
            display: none;
            background: color('grey');
            position: absolute;
            top: 100%;
            z-index: 980;
            left: 0;
            width: 100%;

            &:before,
            &:after {
                position: absolute;
                top: 0;
                height: 100%;
                width: 400px;
                background: color('grey');
                content: '';
                display: block;
            }

            &:before {
                right: 100%;
            }

            &:after {
                left: 100%;
            }

            &.is-active {
                display: block;
            }
        }
    }
}