.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    overflow: hidden;
    z-index: -999;

    &:focus,
    &:active {
        z-index: 999;
        left: $gutter * 2;
        top: $gutter * 2;
    }
}