.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;

    &:focus,
    &:active {
        z-index: 999;
        left: $gutter * 2;
        top: $gutter * 2;
        width: auto;
        height: 60px;
    }
}