.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;

    &:focus,
    &:active {
        z-index: 999;
        left: 20px;
        top: 20px;
        width: auto;
        height: auto;
    }
}