/*

    Colour classes are all defined in TailwindCSS with classes such as 'bg-blue-200'.
    This is the list of colours used for this project to allow Sass to loop over themes and generate multiple themes. e.g. rows.

*/

// Configure which colors need black text after testing with an accessibility checker.
$lightBackgrounds: white, gray;

// Colour map used with color('red')
$colors: (
    // Project colours
    orange:             theme('colors.orange.500'),
    blue:               theme('colors.blue.500'),

    // Core colours
    white:              theme('colors.white'),
    black:              theme('colors.gray.800'),
    gray:               theme('colors.gray.200'),

    // Contextual
    green:              theme('colors.green.700'),
    yellow:             theme('colors.yellow-600'),
    red:                theme('colors.red.700'),
);

$social: (
    facebook:           theme('colors.facebook.500'),
    twitter:            theme('colors.twitter.500'),
    instagram:          theme('colors.instagram.500'),
    pinterest:          theme('colors.pinterest.500'),
);