/*

    Colour classes are all defined in TailwindCSS with classes such as 'bg-blue-200'.
    This is the list of colours used for this project to allow Sass to loop over themes and generate multiple themes. e.g. rows.

*/

// Colour map used with color('primary')
$colors: (
    // Project colours
    primary:        theme('colors.orange.500'),
    secondary:      theme('colors.blue.500'),

    // Core colours
    white:          theme('colors.white'),
    black:          theme('colors.gray.800'),
    gray:           theme('colors.gray.200'),

    // Contextual
    success:        theme('colors.green.700'),
    info:           theme('colors.yellow-600'),
    warning:        theme('colors.red.700'),
);

$social: (
    facebook:       theme('colors.facebook.500'),
    twitter:        theme('colors.twitter.500'),
    instagram:      theme('colors.instagram.500'),
    pinterest:      theme('colors.pinterest.500'),
);