@import 'colours/_index';
@import 'breakpoints';
@import 'z-indexes';


// Max wrapper width, XL breakpoint
$max-wrapper: map-get($breakpoints, xl);
$max-wrapper-thin: map-get($breakpoints, lg);


// Default gutter
$gutter: 1.5rem;


// Fonts
$bodyFont: 'Open Sans', helvetica, arial, sans-serif;
$displayFont: 'Abril Fatface', Times, arial, sans-serif;
