{% extends "components/_index.njk" %}

{# Design should be 'inline' or 'stacked' #}
{% set design = buttonList.design|default('inline') %}
{% set buttons = buttonList.buttons %}
{% set rowClass = buttonList.rowClass|default('bg-white') %}

{% block component %}

    <div class="btn-list btn-list--{{ design }}">
        {% for button in buttons %}
            <div class="">
                {% include 'elements/button.njk' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}