{% extends "_layout/_base.njk" %}

{% block content %}
    <main class="flex items-center h-screen flex-col justify-center">
        <h2 class="mb-12">This is JayPack.</h2>
        <p>You are good to go.</p>
    </main>
{% endblock %}