{% set action = form.action|default(null) %}
{% set fields = form.fields|default(null) %}

<form autocomplete="on" action="{{ action }}" class="max-w-lg">
    <div class="grid grid-cols-4 md:grid-cols-12 gap-x-2 gap-y-3 md:gap-3">

        {% for field in fields %}
            <div class="col-span-4 md:col-span-12">
                {% include 'form/field.njk' %}
            </div>
        {% endfor %}

    </div>
</form>