<input
    class="field__input field__input--base"
    type="{{ type }}"
    name="{{ handle }}"
    id="{{ id }}"
    placeholder="{{ placeholder }}"

    {% if required %}
        required
    {% endif %}

    {% if value %}
        value="{{ value }}"
    {% endif %}
/>