<div class="field__option">
    <div class="relative">
        <input
            type="{{ type }}"
            name="{{ name }}"
            id="{{ id }}-1"
            class="field__input field__input--option"

            {% if required %}
                required
            {% endif %}

            {% if value %}
                value="{{ value }}"
            {% endif %}
        >

        <svg class="field__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.692 18.145">
            <path fill="none" stroke="#000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M2 12.598l3.547 3.547L15.692 2"/>
        </svg>

    </div>
    <label class="field__label field__label--option w-content" for="{{ id }}-1">{{ label|safe }}</label>
</div>