<a href="#" class="card is-link flex flex-col bg-white">
    <div class="flex-1 will-change-transform font-bold text-lg mb-2 md:mb-4">{{ item.title }}</div>
    <p class="text-gray-700 text-base">{{ item.date }}</p>
</a>