<div class="card bg-{{ cardTheme }}">
    <div class="flex flex-wrap -mx-2 -mt-4">
        <div class="w-full md:w-1/2 lg:w-1/3 px-2 mt-4">
            <h3 class="h5 mb-2">Venue:</h3>
            <p>
                The Tabernacle<br>
                34-35 Powis Square<br>
                Notting Hill<br>
                London, W11 2AY
            </p>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-2 mt-4">
            <h3 class="h5 mb-2">Date and time:</h3>
            <p>
                Sunday 2 June 2019<br>
                10:15 - 16:00 BST<br>
                <br>
                <strong>Ticket for one: £99 GBP</strong>
            </p>
        </div>
        <div class="w-full sm:w-2/3 md:w-1/2 lg:w-1/3 md:pt-2 lg:pt-0 px-2 mt-4 flex flex-col justify-end">
            <p class="text-sm mb-1">Tickets via EventBrite</p>
            <a href="#" class="btn btn--box bg-teal-800 text-white hover:bg-teal-700 focus:bg-teal-700">
                Book now
                <img src="/assets/svg/external.svg" alt="" class="js-inlinesvg btn__icon">
            </a>
        </div>
    </div>
</div>