<div class="flex flex-wrap -mx-2 lg:-mx-4 -mt-4">
    <div class="w-full lg:w-1/2 px-2 lg:px-4 mt-4">
        <h2 class="mb-2 lg:mb-4 lg:mb-8">
            Up next:<br />
            <span class="h2 text-teal-800">Notting Hill, London</span>
        </h2>
    </div>
    <div class="w-full lg:w-1/2 px-2 lg:px-4 mt-4">
        <div class="w-content">
            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
        </div>
    </div>
</div>

<div class="w-content mt-4 lg:absolute lg:w-1/2 lg:left-0 lg:bottom-0 lg:pl-10 lg:max-w-md">
    <h3 class="h5">Have questions?</h3>
    <p>Email us on <a href="#" aria-label="Email Being Seen">hello@being-seen.com</a> and we’ll get back to you as soon as we can.</p>
</div>