<h3 class="h5 mb-4">Share this post</h3>
<ul class="flex">
    <li class="mr-3">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://google.com" data-social class="social__icon" target="_blank" rel="noopener noreferrer" aria-label="Share this article on Facebook">
            <img src="/assets/svg/social-facebook.svg" alt="" class="js-inlinesvg block w-3 m-auto">
        </a>
    </li>
    <li class="mr-3">
        <a href="https://twitter.com/share?url=page-url" data-social class="social__icon" target="_blank" rel="noopener noreferrer" aria-label="Share this article on Twitter">
            <img src="/assets/svg/social-twitter.svg" alt="" class="js-inlinesvg block w-6 m-auto">
        </a>
    </li>
    <li class="mr-3">
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title=LinkedIn%20Developer%20Network&summary=My%20favorite%20developer%20program&source=LinkedIn" data-social class="social__icon" target="_blank" rel="noopener noreferrer" aria-label="Share this article on Linkedin">
            <img src="/assets/svg/social-linkedin.svg" alt="" class="js-inlinesvg block w-5 m-auto">
        </a>
    </li>
    <li class="mr-3">
        <a href="mailto:Enter%20an%20email?subject=Your%20Subject%20Line&body=Thought%20you%20might%20be%20interested%20in%20this%20http://www.yourdomain.com" target="_blank" rel="noopener noreferrer" data-social class="social__icon" aria-label="Share this article via email">
            <img src="/assets/svg/social-email.svg" alt="" class="js-inlinesvg block w-6 m-auto">
        </a>
    </li>
</ul>