
@import 'ie';
@import 'print';
@import 'skip-main';


// Better mozilla focus rings
*:-moz-focusring,
*:focus {
    outline-color: color('primary');
    outline-style: solid;
    outline-width: 3px;
}