<title>{{ siteDetails.title }}</title>
<meta name="description" content="{{ seo.description }}">
<link rel="canonical" href="{{ siteDetails.url }}">


{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ siteDetails.twitter }}">
<meta name="twitter:creator" content="@{{ siteDetails.twitter }}">
<meta name="twitter:title" content="{{ siteDetails.title }}">
<meta name="twitter:description" content="{{ siteDetails.description }}">
<meta name="twitter:image" content="/assets/images/twitter-card.jpg">

{# Facebook #}
<meta property="og:url" content="{{ siteDetails.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ siteDetails.title }}" />
<meta property="og:description" content="{{ siteDetails.description }}" />
<meta property="og:image" content="/assets/images/twitter-card.jpg">