.accordion {

    + .accordion {
        @apply mt-4;
    }

    &__title {
        @apply p-4 text-white bg-indigo-500 rounded-lg transition-colors block w-full text-left;
        cursor: pointer;

        &:hover,
        &:focus {
            @apply bg-indigo-600;
        }
    }

    &__body {
        @apply overflow-hidden;
        transition: max-height .4s ease-in-out;
        max-height: 0px;

        .is-active & {
            max-height: 1500px;
            transition: max-height .8s ease-in-out;
        }
    }
}