{% extends '_layout/_base.njk' %}

{% block spaTitle %}news{% endblock %}

{% block content %}

    <main role="main" class="bg-gray-200 min-h-screen">
        <div class="site__inner">

            <section class="row row--nopad row--transparent" aria-label="Next workshop" id="nextWorkshop">
                <div class="container relative py-6 lg:py-12">
                    <a href="/" class="text-teal-800 font-bold" data-transition="pushRight">&larr; Back to Being Seen</a>
                </div>
            </section>

            <section class="row row--transparent" aria-label="Latest news listing">
                <div class="container">

                    <h2 class="mb-6 md:mb-12">Calendar</h2>
                    
                    <ul class="border-b-2 border-gray-800">
                        <li class="border-t-2 border-gray-800">
                            <a href="/event.html" class="accordion__title">
                                <div class="block relative md:flex md:flex-wrap md:items-center md:-mx-2">
                                    <h2 class="h5 md:px-2 flex-1">Kings Cross, London</h2>
                                    <p class="md:px-2 flex-1">Sunday 12 July 2019</p>
                                    <span class="accordion__icon" aria-hidden="true">&rarr;</span>
                                </div>
                            </a>
                        </li>
                        <li class="border-t-2 border-gray-800">
                            <a href="/event.html" class="accordion__title">
                                <div class="block relative md:flex md:flex-wrap md:items-center md:-mx-2">
                                    <h2 class="h5 md:px-2 flex-1">Kings Cross, London</h2>
                                    <p class="md:px-2 flex-1">Sunday 12 August 2019</p>
                                    <span class="accordion__icon" aria-hidden="true">&rarr;</span>
                                </div>
                            </a>
                        </li>
                        <li class="border-t-2 border-gray-800">
                            <a href="/event.html" class="accordion__title">
                                <div class="block relative md:flex md:flex-wrap md:items-center md:-mx-2">
                                    <h2 class="h5 md:px-2 flex-1">Kings Cross, London</h2>
                                    <p class="md:px-2 flex-1">12-13 September 2019</p>
                                    <span class="accordion__icon" aria-hidden="true">&rarr;</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <h2 class="h3 mt-10 md:mt-14 mb-6 md:mb-8">Previous workshops</h2>

                    
                    <ul class="border-b-2 border-gray-800">
                        <li class="border-t-2 border-gray-800">
                            <a href="/event.html" class="accordion__title opacity-50">
                                <div class="block relative md:flex md:flex-wrap md:items-center md:-mx-2">
                                    <h2 class="h5 md:px-2 flex-1">Kings Cross, London</h2>
                                    <p class="md:px-2 flex-1">Sunday 12 July 2019</p>
                                    <span class="accordion__icon" aria-hidden="true">&rarr;</span>
                                </div>
                            </a>
                        </li>
                        <li class="border-t-2 border-gray-800">
                            <a href="/event.html" class="accordion__title opacity-50">
                                <div class="block relative md:flex md:flex-wrap md:items-center md:-mx-2">
                                    <h2 class="h5 md:px-2 flex-1">Kings Cross, London</h2>
                                    <p class="md:px-2 flex-1">Sunday 12 August 2019</p>
                                    <span class="accordion__icon" aria-hidden="true">&rarr;</span>
                                </div>
                            </a>
                        </li>
                        <li class="border-t-2 border-gray-800">
                            <a href="/event.html" class="accordion__title opacity-50">
                                <div class="block relative md:flex md:flex-wrap md:items-center md:-mx-2">
                                    <h2 class="h5 md:px-2 flex-1">Kings Cross, London</h2>
                                    <p class="md:px-2 flex-1">12-13 September 2019</p>
                                    <span class="accordion__icon" aria-hidden="true">&rarr;</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>


{% endblock %}