{% extends '_layout/_base.njk' %}

{% block spaTitle %}event{% endblock %}

{% block content %}

    <main role="main" class="bg-gray-200 min-h-screen">
        <div class="site__inner">

            <section class="row row--nopad row--transparent" aria-label="Next workshop" id="nextWorkshop">
                <div class="container relative py-6 lg:py-12">
                    <a href="/" class="text-teal-800 font-bold border-transparent border-b-2 hover:border-teal-800" data-transition="pushRight">&larr; Back to Being Seen</a>
                </div>
            </section>

            <section class="row row--transparent" aria-label="Next workshop" id="nextWorkshop">
                <div class="container relative">

                    <div class="flex flex-wrap -mx-2 lg:-mx-4 -mt-4">
                        <div class="w-full lg:w-1/2 px-2 lg:px-4 mt-4">
                            <h2 class="mb-2 lg:mb-4 lg:mb-8">
                                <span class="text-teal-800 block">Notting Hill, London</span>
                                2 June 2019
                            </h2>
                        </div>
                        <div class="w-full lg:w-1/2 px-2 lg:px-4 mt-4">
                            <div class="w-content">
                                <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                                <h3 class="h5">Have questions?</h3>
                                <p>Email us on <a href="#" aria-label="Email Being Seen">hello@being-seen.com</a> and we’ll get back to you as soon as we can.</p>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 lg:absolute lg:w-1/2 lg:left-0 lg:bottom-0 lg:pl-10 lg:max-w-md">
                        <h3 class="h5 mb-4">Share this post</h3>
                        <ul class="flex">
                            <li class="mr-3">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://google.com" data-social class="social__icon" target="_blank" rel="noopener noreferrer" aria-label="Share this article on Facebook">
                                    <img src="/assets/svg/social-facebook.svg" alt="" class="js-inlinesvg block w-3 m-auto">
                                </a>
                            </li>
                            <li class="mr-3">
                                <a href="https://twitter.com/share?url=page-url" data-social class="social__icon" target="_blank" rel="noopener noreferrer" aria-label="Share this article on Twitter">
                                    <img src="/assets/svg/social-twitter.svg" alt="" class="js-inlinesvg block w-6 m-auto">
                                </a>
                            </li>
                            <li class="mr-3">
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title=LinkedIn%20Developer%20Network&summary=My%20favorite%20developer%20program&source=LinkedIn" data-social class="social__icon" target="_blank" rel="noopener noreferrer" aria-label="Share this article on Linkedin">
                                    <img src="/assets/svg/social-linkedin.svg" alt="" class="js-inlinesvg block w-5 m-auto">
                                </a>
                            </li>
                            <li class="mr-3">
                                <a href="mailto:Enter%20an%20email?subject=Your%20Subject%20Line&body=Thought%20you%20might%20be%20interested%20in%20this%20http://www.yourdomain.com" target="_blank" rel="noopener noreferrer" data-social class="social__icon" aria-label="Share this article via email">
                                    <img src="/assets/svg/social-email.svg" alt="" class="js-inlinesvg block w-6 m-auto">
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>

            <section class="row row--transparent">
                <div class="container relative">

                    {% set cardTheme = 'white' %}
                    {% include 'partials/next-event-purchase.njk' %}

                </div>
            </section>

            <section class="row row--transparent" aria-label="News related to this workshop">
                <div class="container">

                    <div class="md:flex md:flex-wrap md:items-baseline mb-4 md:mb-8 lg:mb-10">
                        <h2 class="flex-grow">Related news</h2>
                        <div class="mt-2 md:mt-0">
                            <a href="/news.html" class="text-teal-800 font-bold border-transparent border-b-2 hover:border-teal-800">See all news &rarr;</a>
                        </div>
                    </div>
                    
                    <ul class="flex flex-wrap -mx-2 lg:-mx-4 -mt-4">
                        {% for item in blog %}
                            <li class="w-full sm:w-1/2 md:w-1/3 px-2 lg:px-4 mt-4">
                                {% include 'partials/card.njk' %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            
        </div>
    </main>


{% endblock %}