{% extends '_layout/_base.njk' %}

{% block content %}

    <main>



        <section class="row row--white">
            <div class="wrapper">
                <form class="form form--grey">

                    {% include 'partials/form/input.njk' %}
                    {% include 'partials/form/input.njk' %}
                    {% include 'partials/form/input.njk' %}
                    {% include 'partials/form/option.njk' %}
                    {% include 'partials/form/input.njk' %}

                </form>
            </div>
        </section>

        <section class="row row--white">
            <div class="wrapper w-content">

                <h1>Heading 1</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos aliquid quam debitis veniam sequi, <strong>sapiente animi in</strong> ut perspiciatis, temporibus rerum. Fugit repudiandae sapiente consequatur ipsum neque nihil deserunt reprehenderit.</p>

                <blockquote>
                    This is a quote <cite>Name here</cite>
                </blockquote>
                
                <h2>Heading 2 with<br />multiple lines</h2>
                <p>Lorem ipsum, dolor sit <em>amet consectetur adipisicing</em> elit. Eos aliquid quam debitis veniam sequi, <del>sapiente animi in ut perspiciatis</del>, temporibus rerum. Fugit repudiandae sapiente consequatur ipsum neque nihil deserunt reprehenderit.</p>

                <h3>Heading 3</h3>
                <p>Lorem ipsum, dolor sit amet <sup>consectetur</sup> adipisicing elit. Eos aliquid quam debitis veniam sequi, <sub>sapiente animi in</sub> ut perspiciatis, temporibus rerum. Fugit repudiandae sapiente consequatur ipsum neque nihil deserunt reprehenderit.</p>

                <ul>
                    <li>List here</li>
                    <li>List here</li>
                    <li>List here</li>
                </ul>

                <h4>Heading 4</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos aliquid quam debitis veniam sequi, <a href="#">sapiente animi</a> in ut perspiciatis, temporibus rerum. Fugit repudiandae sapiente consequatur ipsum neque nihil deserunt reprehenderit.</p>

                <h5>Heading 5</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos aliquid quam debitis veniam sequi, sapiente animi in ut perspiciatis, temporibus rerum. Fugit repudiandae sapiente consequatur ipsum neque nihil deserunt reprehenderit.</p>

                <h6>Heading 6</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos aliquid quam debitis veniam sequi, sapiente animi in ut perspiciatis, temporibus rerum. Fugit repudiandae sapiente consequatur ipsum neque nihil deserunt reprehenderit.</p>

            </div>
        </section>

        <section class="row row--grey">
            <div class="wrapper">
                <button class="btn btn--secondary"><img src="/assets/svg/social-facebook.svg" class="js-inlinesvg btn__icon">Small button with icon</button>
                <button class="btn btn--black">Small button</button>
                <a href="#" class="btn btn--primary">Small Anchor</a>
                <button class="btn btn--white">Small button</button>
            </div>
        </section>

        <section class="row row--white">
            <div class="wrapper">
                <button class="btn btn--secondary btn--lrg"><img src="/assets/svg/social-facebook.svg" class="js-inlinesvg btn__icon">Large button with icon</button>
                <button class="btn btn--success btn--lrg">Large button</button>
                <a href="#" class="btn btn--lrg btn--primary">Large Anchor</a>

            </div>
        </section>

    </main>

{% endblock %}