<html>
    <head>
        <link rel="stylesheet" href="/assets/styles/styles.css">
    </head>

    <body>
        {% include '_base/header.njk' %}

        <h4>Here<h4>

        <script src="/assets/scripts/bundle.js"></script>
    </body>
</html