{% extends '_layout/_base.njk' %}

{% block spaTitle %}news{% endblock %}

{% block content %}

    <main role="main" class="bg-gray-200 min-h-screen">
        <div class="site__inner">

            <section class="row row--nopad row--transparent" aria-label="Next workshop" id="nextWorkshop">
                <div class="container relative py-6 lg:py-12">
                    <a href="/" class="text-teal-800 font-bold" data-transition="pushRight">&larr; Back to Being Seen</a>
                </div>
            </section>

            <section class="row row--transparent" aria-label="Latest news listing">
                <div class="container">

                    <h2 class="mb-6 md:mb-12">News</h2>
                    
                    <ul class="flex flex-wrap -mx-2 lg:-mx-4 -mt-4 lg:-mt-8">
                        {% for item in blog %}
                            <li class="w-full sm:w-1/2 md:w-1/3 px-2 lg:px-4 mt-4 lg:mt-8">
                                {% include 'partials/card.njk' %}
                            </li>
                        {% endfor %}

                        {% for item in blog %}
                            <li class="w-full sm:w-1/2 md:w-1/3 px-2 lg:px-4 mt-4 lg:mt-8">
                                {% include 'partials/card.njk' %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </main>


{% endblock %}