<textarea
    class="field__input field__input--textarea"
    id="{{ id }}"
    name="{{ handle }}"
    placeholder="{{ placeholder }}"

    {% if required %}
        required
    {% endif %}
>{% if value %}{{ value }}{% endif %}</textarea>