.accordion {

    + .accordion {
        @apply mt-4;
    }

    &__title {
        @apply p-4 text-white bg-indigo-500 rounded-lg transition-colors block w-full text-left;
        cursor: pointer;

        &:hover,
        &:focus {
            @apply bg-indigo-600;
        }
    }

    &__body {
        @apply overflow-hidden;
        transition: height .4s ease-in-out;
        visible: visible;

        .is-hidden & {
            visible: hidden;
            height: 0;
        }
    }
}