.btn {
    height: 3rem;
    border-radius: 1.5em;
    padding: 0 1.5rem;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    transition: color .2s ease-in-out, background .2s ease-in-out;

    @screen sm {
        padding: 0 2rem;
    }

    @screen lg {
        padding: 0 2.5rem;
        height: 3.5rem;
        border-radius: 1.75rem;
    }
}