body {
	&.is-hidden {
		overflow: hidden;
	}
	
	@include media-breakpoint-down(md) {
		&.menu-is-active {
			overflow: hidden;
		}
	}

	&.is-transitioning {
		overflow: hidden;
		* {
			pointer-events: none;
		}
	}

}

.site {
	background: color('black');
}

.site-wrap {
	background: color('white');
	min-height: 100vh;

	@include media-breakpoint-down(md) {
		transition: opacity .4s ease-in-out;
		opacity: 1;

		.menu-is-active & {
			opacity: 0.3;
		}
	}

	&--fixed-header {
		margin-top: 60px;
	}


}

.wrapper {
	max-width: $max-wrapper;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    padding: 0 $gutter;

    @include media-breakpoint-up(sm) {
        padding: 0 ($gutter * 2);
    }

    @include media-breakpoint-up(xl) {
        padding: 0;
    }

    &--thin {
        max-width: $max-wrapper-thin;
    }
}


.mask {
	position: fixed;
	background: color('primary');
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	transform: translate3d(0, -100%, 0);

	&--circle {
		border-radius: 50%;
		display: none;
		transform: translate3d(-50%, -50%, 0);
		transform-origin: center center;
	}
}