
// Position
.u-rel {
    position: relative;
}
.u-static {
    position: static;
}


// Text align
.u-center {
    text-align: center;
}
.u-right {
    text-align: right;
}


// Colours
@each $name, $value in $colors {
    .u-col--#{$name} {
        color: color($name);
    }
}


// Background
@each $name, $value in $colors {
    .u-bg--#{$name} {
        background: color($name);
    }
}