.field {
    @apply inline-flex h-full w-full flex-col items-start justify-end;

    &__label {
        @apply block mb-1;

        &--option {
            @apply inline-block ml-3 mb-0;
        }
    }

    &__option {
        @apply flex h-10 items-center;
    }

    &__input {
        @apply border border-black block bg-white;
        appearance: none;

        &--base {
            @apply w-full h-10 px-2;
        }

        &--textarea {
            @apply w-full px-2 py-1;
        }

        &--option {
            @apply w-6 h-6;

            &:checked {
                + .field__checkmark {
                    opacity: 1;
                }
            }
        }
    }

    &__checkmark {
        @apply absolute w-4 h-4;
        opacity: 0;
        transition: .1s ease-in-out;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        pointer-events: none;
    }
}