<header class="header">
	<div class="container header__inner">
		<div class="grid grid-cols-4 sm:grid-cols-12 header__grid">
            <div class="col-span-3 sm:col-span-4">
                <h1 class="header__logo h3">
    				<a href="/">JayPack</a>
                </h1>
			</div>
            <div class="col-span-1 sm:col-span-8">
				<button class="hamburger" data-header-toggle="menu">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<nav class="menu hidden sm:block">
					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link is-active" href="#">Menu</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Menu</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Menu</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
