:focus:not(:focus-visible),
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

:focus-visible,
.js-focus-visible .focus-visible {
    outline-offset: 2px;
    outline-style: dotted;
    outline-width: 1px;
    outline-color: black;
}