:focus:not(:focus-visible) {
    outline: none !important;
}

:focus-visible {
    outline-offset: 2px;
    outline-style: dotted !important;
    outline-width: 1px !important;
    outline-color: black !important;
}