@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
	a:visited {
        text-decoration: underline;
    }

	a[href]:after {
        content: " (" attr(href) ")";
    }
    
    .header,
    .footer,
    .print-hide,
    .btn {
        display: none !important;
    }
    @page {
        margin: 0.5cm;
    }
 }