*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
}

*::-webkit-details-marker {
    display: none;
}