.g {
    display: grid;
    grid-template-columns: repeat(12,1fr);

    &--gutter {
        grid-column-gap: $gutter;
        grid-row-gap: $gutter;
    }

    &__col {
        grid-column: span 12;

        // Grid breakpoints
        @each $name, $value in $breakpoints {
            @include media-breakpoint-up(#{$name}) {
                @for $i from 1 to 13 {
                    &--#{$name}-#{$i} {
                        grid-column: span $i;
                    }
                }
            }
        }

        // Grid breakpoints
        @each $name, $value in $breakpoints {
            @include media-breakpoint-up(#{$name}) {
                @for $i from 1 to 13 {
                    &--#{$name}-start-#{$i} {
                        grid-column-start: $i;
                    }
                }
            }
        }
    }
}